<ion-header>
  <ion-navbar>
    <ion-title>Confirmação de Presença</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-card>
      <ion-card-content>
         <p>O celular do professor está por perto?</p>
         <p *ngIf="descobrindo">
            <img src="assets/img/progresso.gif" />
         </p>
      </ion-card-content>
   </ion-card>

   <ion-card *ngIf="!descobrindo && dispositivos.length == 0">
      <ion-card-content>
         <p>Nenhum dispositivo foi encontrado!</p>
         <button ion-button block (click)="iniciarDescoberta()">Tentar Novamente</button>
      </ion-card-content>
   </ion-card>

   <ion-list>
      <ion-item *ngFor="let d of dispositivos" (click)="selecaoDispositivo(d.mac)">{{d.nome}}</ion-item>
   </ion-list>
</ion-content>
